//VARIABLE STYLES
$primary-background: #FAFAFA; //Grey
$secondary-background: #43005a; //Purple
$accent: #50e3c2; // Cyan
$primary-font: 'Roboto', sans-serif; //heading, body
$secondary-font: 'Open Sans', sans-serif; //buttons

//BASE STYLES
html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  background: $primary-background;
  position: relative;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

h1, h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  color: $primary-background;
  font-family: $primary-font;
  font-weight: 400;
  line-height: 1.6;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $secondary-font;
  font-weight: 300;
  color: $primary-background;
  display: inline-block;
  transition: all 0.3s;
  &:visited {
    display: none;
  }
  &:focus {
    color: $accent; 
  }
  &:hover {
    color: $accent;
  }
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 90%;
}


