// MEDIA QUERY STYLES
@media(max-width:1350px) {
  header {
    .title {
      h1 {
        font-size: 6rem;
      }
    }
  }

  .start {
    // justify-content: flex-start;
    // padding-top:50px;
    .fas {
      font-size: 2.5rem;
    }
    a {
      font-size: 2.5rem;
      padding-left: 10px;
    }
  }

  .question-section {
    .question-statement {
      color: $secondary-background;
      font-size: 3.2rem;
      line-height: 1.6;
      padding-bottom: 25px;
    }
  }

  form label {
    padding: 140px;
  }

  .next {
    a {
      font-size: 2rem;
      i {
        font-size: 2rem;
      }
    }
  }
  input[type="submit"] {
    font-size: 2rem;
  }
  .results-text {
    font-size: 1rem;
  }
  .results-picture {
    width:30vh;
  }
}

@media(max-width:1310px) {
  header {
    .title {
      width:60%;
    }
  }
  .question-input {
    font-size: 2.5rem;
  }
  
}

@media(max-width:1137px) {
  
   .start {
    // padding-top: 120px;
   }

    .question-statement {
      color: $secondary-background;
      font-size: 3rem;
      line-height: 1.6;
      padding-bottom: 25px;
    }
  
}

@media(max-width:1067px) {
  .question-section {
    // height:90vh;
    .question-statement {
      font-size: 2.5rem;
    }
  }
  form label {
    padding: 120px;
  }
}



@media(max-width:940px) {
  header {
    background: url(../assets/background1.png) no-repeat center;
    background-size: cover;
    height: 70vh;
    .title {
      width: 100%;
      padding-top: 40px;
      h1 {
        font-size: 5rem;
      }
      p {
        font-size: 1.2rem;
        padding-top: 50px;
      }
    }
  }

  .start {
    // justify-content: flex-start;
    padding-top:120px;
    .fas {
      font-size: 2rem;
      }
    a {
      font-size: 2rem;
      padding-left: 10px;
      }
  }

  .question-section {
    height:80vh;
    .question-number {
      font-size: 1rem;
    }
    .question-statement {
      color: $secondary-background;
      font-size: 2rem;
      line-height: 1.6;
      padding-bottom: 25px;
    }
  }

  .question-input {
    border: none;
    flex-direction: column;
    width: 100%;
    font-size: 2rem;  
  }

  form label {
    padding: 100px;
  }

  .next {
    a {
      font-size: 1rem;
      i {
        font-size: 1rem;
      }
    }
  }
  input[type="submit"] {
    font-size: 1rem;
  }
  .results-text {
    font-size: 1rem;
  }
  .results-picture {
    width: 20vh;
    margin: 0 auto;
  }
  .choice {
    font-size: 3rem;
  }

  .restart a {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .section5 {
    margin-bottom:20px;
  }
}

@media(max-width:716px) {
  header {
    height: 60vh;
  }

  header .title h1 {
    font-size: 3.5rem;
  }

  form label {
    padding: 80px;
  }

  .start {
    padding-top:50px;
    .fas {
      font-size: 1.5rem;
      }
    a {
      font-size: 1.5rem;
      }
  }
  .next {
    a {
      font-size: .9rem;
      i {
        font-size: .9rem;
      }
    }
  }


}

@media(max-width:463px) {

  header .title p {
    font-size: 1rem;
  }

  .question-section {
    height: 60vh;
    margin-top: 100px;
    .question-number {
      font-size: .8rem;
    }
    .question-statement {
      font-size: 1.6rem;
      line-height: 1.2;
      padding-bottom: 25px;
    }
  }

  .question-input {
    font-size: 1rem;  
  }

  form label {
    padding: 60px;
  }
    .start {
    padding-top:50px;
    .fas {
      font-size: 1.2rem;
    }
    a {
      font-size: 1.2rem;
    }
  }
  .next {
    a {
      font-size: .8rem;
      i {
        font-size: .8rem;
      }
    }
  }

  .results-text {
    font-size: .9rem;
  }

  .results-title {
    font-size: 2rem;
  }

  .fun {
    font-size: .8rem;
  }

  .restart a {
    padding: 5px 15px;
    font-size: .6rem;
  }

  .restart a i {
    font-size: .6rem;
  }

  .results {
    margin-top:50px;
  }
}

@media(max-width:382px) {
  
  header .title h1 {
    font-size: 2rem;
  }

  header .title p {
    font-size: 0.8rem;
    padding-top: 0;
  }

  .start {
    padding-top: 40px;
    .fas {
      font-size: 1rem;
    }
    a {
      font-size: 1rem;
    }
  }

  .question-section {
    height:50vh;
  }
  
  form label {
    padding: 40px;
  }
  .results {
    margin-top:80px;
  }
}

@media(max-width:325px) {
 .question-section {
    margin-top: 100px;
    margin-bottom: 200px;
    height:50vh;
  }
}