article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%;
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  background: #FAFAFA;
  position: relative; }

img {
  display: block;
  width: 100%;
  max-width: 100%; }

h1, h2 {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #FAFAFA;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  a:visited {
    display: none; }
  a:focus {
    color: #50e3c2; }
  a:hover {
    color: #50e3c2; }

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 90%; }

header {
  background: url(../assets/background1.png) no-repeat center;
  background-size: cover;
  height: 100vh; }
  header .title {
    width: 50%;
    padding-top: 80px; }
    header .title h1 {
      color: #50e3c2;
      font-size: 7rem;
      line-height: .9; }
    header .title p {
      font-size: 1.4rem;
      font-weight: 100;
      padding-top: 50px; }

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  padding-top: 100px; }
  .start .fas {
    font-size: 3rem;
    letter-spacing: 7px;
    line-height: 1.4;
    color: #FAFAFA;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .start a {
    font-size: 3rem;
    padding-left: 10px;
    letter-spacing: 7px; }
    .start a:hover .fas {
      color: #50e3c2; }

input[type="radio"] {
  opacity: 0;
  position: absolute; }

.question-section {
  height: 100vh; }
  .question-section .question-number {
    font-size: 1.2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
    color: #DC143C;
    padding-top: 40px; }
  .question-section .question-statement {
    color: #43005a;
    font-size: 4rem;
    font-weight: 700;
    line-height: 80px;
    margin: 0;
    padding-bottom: 50px; }

.question-input {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0; }
  .question-input input:checked + label, .question-input input:focus + label {
    color: #50e3c2;
    background: #43005a; }

form label {
  padding: 150px;
  width: 100%; }

.question-box {
  background: #50e3c2;
  color: #43005a;
  border: 2px solid #43005a;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .question-box:hover {
    color: #50e3c2;
    background: #43005a; }

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  font-size: 4rem;
  font-weight: 700;
  margin: 0; }
  .next a {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: #43005a;
    background: #50e3c2;
    padding: 15px 30px; }
    .next a:focus {
      color: #50e3c2;
      background: #43005a; }
    .next a:hover {
      color: #50e3c2;
      background: #43005a; }
    .next a i {
      font-size: 2rem;
      letter-spacing: 7px;
      line-height: 1.4;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

input[type="submit"] {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #43005a;
  background: #50e3c2;
  border: 2px solid #50e3c2;
  padding: 15px 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  input[type="submit"]:hover {
    color: #50e3c2;
    background: #43005a;
    border: 2px solid #43005a; }
  input[type="submit"]:focus {
    color: #50e3c2;
    background: #43005a; }

.results-section {
  background: url(../assets/background1.png) no-repeat center;
  background-size: cover;
  height: 100vh; }

.results-text {
  color: #FAFAFA;
  font-size: 1.2rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-top: 80px; }

.results-picture {
  width: 30vh;
  margin: 0 auto; }

.results-title {
  color: #FAFAFA;
  color: #50e3c2;
  font-size: 4rem;
  line-height: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  margin: 0;
  text-align: center; }

.fun {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.restart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700; }
  .restart a {
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 700;
    color: #43005a;
    background: #50e3c2;
    letter-spacing: 3px;
    padding: 15px 30px; }
    .restart a:hover {
      color: #50e3c2;
      background: #43005a; }
    .restart a:hover .fas {
      color: #50e3c2;
      background: #43005a; }
    .restart a i {
      font-size: 1rem;
      letter-spacing: 7px;
      line-height: 1.4;
      color: #43005a;
      background: #50e3c2;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

@media (max-width: 1350px) {
  header .title h1 {
    font-size: 6rem; }
  .question-section .question-statement {
    color: #43005a;
    font-size: 3.2rem;
    line-height: 1.6;
    padding-bottom: 25px; }
  form label {
    padding: 140px; }
  .next a {
    font-size: 2rem; }
    .next a i {
      font-size: 2rem; }
  input[type="submit"] {
    font-size: 2rem; }
  .results-text {
    font-size: 1rem; }
  .results-picture {
    width: 30vh; } }

@media (max-width: 1310px) {
  header .title {
    width: 60%; }
  .question-input {
    font-size: 2.5rem; } }

@media (max-width: 1137px) {
  .start {
    padding-top: 120px; }
  .question-statement {
    color: #43005a;
    font-size: 3rem;
    line-height: 1.6;
    padding-bottom: 25px; } }

@media (max-width: 1067px) {
  .question-section .question-statement {
    font-size: 2.5rem; }
  form label {
    padding: 120px; } }

@media (max-width: 940px) {
  header {
    background: url(../assets/background1.png) no-repeat center;
    background-size: cover;
    height: 100vh; }
    header .title {
      width: 100%;
      padding-top: 40px; }
      header .title h1 {
        font-size: 4rem; }
      header .title p {
        font-size: 1rem;
        padding-top: 50px; }
  .start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 50px; }
    .start .fas {
      font-size: 2rem; }
    .start a {
      font-size: 2rem;
      padding-left: 10px; }
  .question-section .question-number {
    font-size: 1rem; }
  .question-section .question-statement {
    color: #43005a;
    font-size: 2rem;
    line-height: 1.6;
    padding-bottom: 25px; }
  .question-input {
    border: none;
    display: block;
    width: 100%;
    font-size: 2rem; }
  form label {
    padding: 100px; }
  .next a {
    font-size: 1rem; }
    .next a i {
      font-size: 1rem; }
  input[type="submit"] {
    font-size: 1rem; }
  .results-text {
    font-size: 1rem; }
  .results-picture {
    width: 20vh;
    margin: 0 auto; }
  .choice {
    font-size: 3rem; }
  .restart a {
    font-size: 1rem; } }

@media (max-width: 716px) {
  form label {
    padding: 80px; } }

@media (max-width: 463px) {
  form label {
    padding: 60px; } }

@media (max-width: 382px) {
  form label {
    padding: 40px; } }

/*# sourceMappingURL=style.css.map */