article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%;
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", sans-serif;
  background: #FAFAFA;
  position: relative; }

img {
  display: block;
  width: 100%;
  max-width: 100%; }

h1, h2 {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6; }

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #FAFAFA;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  a:visited {
    display: none; }
  a:hover {
    color: #50e3c2; }
  a:hover .fas {
    color: #50e3c2; }

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 90%; }

header {
  background: url(../assets/background1.png) no-repeat center;
  background-size: cover;
  height: 100vh; }
  header .title {
    width: 33.33%;
    padding-top: 50px; }
    header .title h1 {
      color: #50e3c2;
      font-size: 5rem; }
    header .title p {
      font-size: 1.4rem;
      font-weight: 100; }

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end; }
  .start a {
    font-size: 2rem;
    letter-spacing: 7px; }
    .start a i {
      font-size: 2rem;
      letter-spacing: 7px;
      line-height: 1.4;
      color: #FAFAFA;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

input[type="radio"] {
  opacity: 0;
  position: absolute; }

.question-section {
  height: 100vh; }
  .question-section .question-number {
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0;
    color: #DC143C; }
  .question-section .question-statement {
    color: #43005a;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    padding-bottom: 30px; }

.question-input {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0; }

form label {
  display: inline-block;
  padding: 150px;
  width: 100%; }

form input:checked + label {
  color: #50e3c2;
  background: #43005a;
  width: 100%; }

.left-question {
  background: #50e3c2;
  color: #43005a;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .left-question:hover {
    color: #50e3c2;
    background: #43005a; }

.right-question {
  background: #DC143C;
  color: #FFE4E1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .right-question:hover {
    color: #50e3c2;
    background: #43005a; }

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  font-size: 4rem;
  font-weight: 700;
  margin: 0; }
  .next a {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: #43005a;
    background: #50e3c2;
    letter-spacing: 3px;
    padding: 15px 30px; }
    .next a:hover {
      color: #50e3c2;
      background: #43005a; }
    .next a:hover .fas {
      color: #50e3c2;
      background: #43005a; }
    .next a i {
      font-size: 2rem;
      letter-spacing: 7px;
      line-height: 1.4;
      color: #43005a;
      background: #50e3c2;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

.submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  font-size: 4rem;
  font-weight: 700;
  margin: 0; }
  .submit-container input[type="submit"] {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: #43005a;
    background: #50e3c2;
    border: 2px solid #50e3c2;
    padding: 15px 30px; }
    .submit-container input[type="submit"]:hover {
      color: #50e3c2;
      background: #43005a;
      border: 2px solid #43005a; }
    .submit-container input[type="submit"]:hover .fas {
      color: #50e3c2;
      background: #43005a; }

/*# sourceMappingURL=style.css.map */